<%= form_for [Item.new] do |f| %>
<tr>
  <td>
    <div>
      <%= f.text_field :name, rows: 8, class: 'form-control', placeholder: "Enter new task" %>
    </div>
  </td>
  <td>
    <div class="form-group">
      <%= f.submit "Save", class: 'btn btn-success' %>
      <% end %>
    </div>
  </td>
  <td></td>
</tr>

  
