@import "bootstrap-sprockets";
@import "bootstrap";

@import "home";

li#application-nav {
  text-align: right;
}

.user-info {
  margin-top: 9px;
}

.nav {
  margin-top: 5px;
}

.buffer {
  margin-top: 100px;
}